body {
    font-family: 'Garamond', sans-serif!important;
}

a #tacoCatImage{
    border-radius: 50%;
}

h3 {
    text-align: justify!important;
}

#mainContainer{
    height: 40vh;
}

#title {
    width: 100%;
    letter-spacing: .50em;
    margin-top: 7%;
    margin-bottom: 7%;
    color: black;
    text-align: center;
    padding-left: 3.5%;
    text-transform: uppercase;
}

#phrase, #resultText {
    height: 50px;
    background-color: #FFF;
    font-size: 26px;
    text-align: left;
    overflow: hidden;
}

#submitButton, #clearButton {
    background-color: black;
    color: #FFF;
    border: .5px solid black;
    width: 100%;
    font-family: Century;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2%;
}

#submitButton:hover, #clearButton:hover {
    background-color: #FFF;
    color: black;
}

#errorAlert {
    color: red;
}

#errorAlertButton {
    color: red;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2%;
}

/*===============Contact===========================================*/

#contact {
    background-color: black;
    color: white;
    padding: 3% 7%;
}

#contact p{
    text-align: center;
    width: 70%;
}

#contactButton {
    border: 1px solid white;
    text-transform: uppercase;
    width: 15%;
}

#contact label, #contact h2, #contact label, #contact p {
    font-size: 28px;
}

#contact h2{
    text-align: center;
}

#contact form {
    position: relative;
    left: 17%;
}

/*=============Media Queries=============*/

/*==============iPad Front Page===================*/
@media only screen and (min-width: 768px) and (max-width: 999px){
    
    nav{
        padding: 0 17% 0 13%!important;        
    }    
    
    #mainContainer {
        width: 100%;
        padding: 0 20% 0 10%;
        margin-bottom: 5%;
        font-size: 42px;
    }    

    #contact {
        width: 100%;
        position: relative;
        right: 5%;
       
    }  

    #contact p{
        font-size: 42px;
        text-align: justify;
    }

    #contact #subject, #contact #labelSubject, #contact #message, #contact #labelMessage, #contactButton{
        position: relative;
        font-size: 36px;
        width: 120%;       
        right: 10%;        
    }    

    #contact #email, #contact #labelEmail{
        position: relative;
        font-size: 36px;       
        width: 120%;
        left: 3%;
    }
    #contact #name, #contact #labelName {
        position: relative;
        font-size: 36px;
        width: 120%;
        right: 21%;       
    }

    /*=============iPad Code Page================*/
    #codeContainer #codeColumn, pre[class*="language-"] {
        position: relative;
        width: 120%;
        right: 15%;
    }

    #codeContainer #codeColumn, code[class*="language-"] {
        position: relative;
        font-size: 120%;
    }

}

/*=============iPhone Front Page===============*/
@media only screen and (min-width: 375px) and (max-width: 767px) {

    #mainContainer {
        width: 100%;
    }

    #mainContainer h3 {
        font-size: 20px;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    #contact {
        width: 100%;
        margin-top: 18%;
    }

    #contact p {
        text-align: justify;
        font-size: 20px;
    }

    #contact form {
        width: 100%;
        text-align: center;
    }

    #contact form input, #contact form label, #contact form textarea {
        font-size: 20px;
        position: relative;
        right: 17%;
    }

    #contact form #contactButton {
        font-size: 15px;
        position: relative;
        right: 17%;
        width: 100%;
    }
    /*=============iPhone Code Page================*/
    #codeContainer #codeColumn, pre[class*="language-"] {
        position: relative;
        width: 150%;
        right: 25%;
    }

    #codeContainer #codeColumn, code[class*="language-"] {
        position: relative;
        font-size: 95%;
    }

    /*=============iPhone Solve Page================*/
    #solve{
        position: relative;
        text-align: center;
    }

    #solve #title{
        position: relative;
        font-size: 30px;
        left: 3%;
    }    
}
/*=============Galaxy S5 Code Page================*/

@media only screen and (min-width: 359px) and (max-width: 374px) {
    #codeContainer #codeColumn, pre[class*="language-"] {
        position: relative;
        width: 150%;
        right: 25%;
    }

    #codeContainer #codeColumn, code[class*="language-"] {
        position: relative;
        font-size: 95%;
    }

/*=============Galaxy S5 Contact Page================*/
    #mainContainer {
        width: 100%;
    }

    #mainContainer h3 {
        font-size: 10px!important;
        padding-top: 2%;
        padding-bottom: 5%;
    }

    #contact {
        width: 100%;
        margin-top: 18%;
    }

    #contact p {
        text-align: justify;
        font-size: 10px;
    }

    #contact form {
        width: 100%;
        text-align: center;
    }

    #contact form input, #contact form label, #contact form textarea {
        font-size: 10px;
        position: relative;
        right: 17%;
    }

    #contact form #contactButton {
        font-size: 10px;
        position: relative;
        right: 17%;
        width: 100%;
    }
}