html{
    scroll-behavior: smooth;
}

.gridBody {    
    height: 100%;    
    margin: 0 auto;
    font-family: 'Garamond', sans-serif !important;
    display: grid;
    grid-template-columns: 2fr 4fr 4fr 2fr;
    grid-template-rows: repeat(6fr, auto);
    grid-gap: 25px;
    grid-template-areas:
        "tacoCatNavbar tacoCatNavbar tacoCatNavbar tacoCatNavbar"
        "leftSidePadding tacoCatDescription tacoCatPalindrome rightSidePadding" 
        "leftSidePadding code code rightSidePadding"
        "leftSidePadding code code rightSidePadding"
        "leftSidePadding contact contact rightSidePadding" 
        "leftSidePadding contact contact rightSidePadding";
}


#tacoCatNavbar {
    grid-area: tacoCatNavbar;
}

#tacoCatDescription{
    grid-area: tacoCatDescription;
    
}

#tacoCatPalindrome {
    grid-area: tacoCatPalindrome;
}


/*===================================My Styles=============================*/
.displayFlex {
    display: flex;
}

a {
    text-decoration: none !important;
}

.backgroundBlack {
    background-color: black;
}

.backgroundCharcoal {
    background-color: #303030;
}

.backgroundWhite {
    background-color: white;
}

.backgroundDarkBlue {
    background-color: #00008b;
}

.backgroundGreen {
    background-color: green;
}

.backgroundRed {
    background-color: darkred
}

.backgroundGoldenRod {
    background-color: goldenrod;
}

.backgroundYellow {
    background-color: yellow;
}

.backgroundPurple {
    background-color: #663399;
}

.backgroundLightGray {
    background-color: lightgray;
}

.colorBlack {
    color: black;
}

.colorWhite {
    color: white;
}

.colorDarkBlue {
    color: #00008b;
}

.colorBrightRed {
    color: #E10600;
}

.colorDarkRed {
    color: darkred;
}

.colorGoldenRod {
    color: goldenrod;
}

.colorYellow {
    color: yellow;
}

.colorGreen {
    color: #28A745;
}

.colorDarkGreen {
    color: darkgreen;
}

.colorBrightGreen {
    color: #66FF00;
}

table {
    border: 1px solid black !important;
    font-family: 'Garamond', cursive !important;
}

thead {
    background-color: lightgray;
}

th, td {
    border: 1px solid black !important;
}

.fadedBlack {
    background-color: rgba(0, 0, 0, .5);
}

.fadedCharcoal {
    background-color: rgba(48, 48, 48, .7);
}

.fadedWhite {
    background-color: rgba(255, 255, 255, .7);
}

.fadedGreen {
    background-color: rgba(0, 77, 77, .6);
}

.width-7 {
    width: 7%;
}

.width-8 {
    width: 8%;
}

.width-9 {
    width: 9%;
}

.width-10 {
    width: 10%;
}

.width-18 {
    width: 18%;
}

.width-20 {
    width: 20%;
}

.width-30 {
    width: 30%;
}

.width-40 {
    width: 40%;
}

.width-50 {
    width: 50%;
}

.width-60 {
    width: 60%;
}

.width-70 {
    width: 70%;
}

.width-80 {
    width: 80%;
}

.width-90 {
    width: 90%;
}

.width-100 {
    width: 100%;
}

.w-250px {
    width: 250px !important;
}

.height30 {
    height: 30px;
}

.marginTop60 {
    margin-top: 60px;
}

.listStyleTypeNone {
    list-style-type: none;
}

.textDecorationUnderline {
    text-decoration: underline;
}

.textDecorationNone {
    text-decoration: none;
}

.displayFlex {
    display: flex;
    justify-content: space-between;
}

.displayFlexColumn {
    display: flex;
    flex-direction: column;
}

.flexStart {
    justify-content: flex-start;
}

.flexEnd {
    justify-content: flex-end;
}

.displayNone {
    display: none;
}

.borderWhite {
    border: 1px solid #ffffff !important;
}

.borderBlack {
    border: 1px solid black !important;
}

.smoothEdges {
    border-radius: 5px;
}

.hidden{
    display: none;
}

/*==============Navbar==============*/

#tacoCatImage{
    border-radius: 50%;
}
.nav-link:hover{
    color: orange;
}

#phrase1{
    font-size: 28px;
    text-align: center;
}

#navHamburgerMenu{
    font-size: 32px;
    color: white;
}

/*==============Result Text==============*/
#resultText {
    font-size: 28px;
    text-align: center;
}

/*================Submit Button and Clear Button==========*/
#submitButton, #clearButton {
    background-color: black;
    color: #FFF;
    border: .5px solid black;
    width: 100%;    
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2%;
}

#submitButton:hover, #clearButton:hover {
    background-color: #FFF;
    color: black;
}

/*Error Alert Button*/
#errorAlertButton{
    width: 100%;
    font-size: 20px;
}

/*==========Felix Cat Image========*/
#felixCatImage, #felixCatSadImage {    
    height: 400px;
    max-width: 60%;
    border-radius: 100%;    
    
}


#felixCatImageContainer, #felixCatSadImageContainer {
    grid-area: code;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    animation-duration: 2s;
}
/*===========Contact===============*/
#contact{
    background-color: black;
    color: white;
    margin-top: 250px!important;
    text-align: center;
    grid-column: 1/5;
    grid-row: 4/7;
}

#contactFieldsSection{
    justify-content:center;
}

#contactButton {
    color: black;
    background-color: white;
    text-transform: uppercase;
}

#contact input, #contact textarea, #contact label{
    font-size: 24px;
}

/*==================Code Container================*/
#codeContainer{
    grid-area: code;
}

/*==============MEDIA QUERIES===================*/
@media screen and (max-width: 1400px) {
    .gridBody {        
        height: 100%;
        margin: 0 auto;
        font-family: 'Garamond', sans-serif !important;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6fr, auto);
        grid-gap: 0;
         
        grid-template-areas: 
            "tacoCatNavbar" 
            "tacoCatDescription"
            "tacoCatPalindrome" 
            "code" 
            "contact";
    }

    #contact{
        grid-row: 4/7;
        margin-top: 350px!important;
    }

    #contactMe{
        margin-top: 40px;
    }

    #tacoCatDescription{
        padding-left: 10%;
        padding-right: 10%;
    }

    /*==========Felix Cat Image========*/
    #felixCatImage, #felixCatSadImage {
        height: 200px;
        max-width: 60%;        
        border-radius: 100%;
    }


    #felixCatImageContainer, #felixCatSadImageContainer {
        grid-area: code;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 250px!important;
        animation-duration: 2s;
    }
   /*========================Clear Button===================*/
    #clearButton{
        margin-bottom: 0;
    }

   
}


