body {
    font-family: 'Garamond', sans-serif!important;
}

a #tacoCatImage{
    border-radius: 50%;
}

h3 {
    text-align: justify!important;
}

#mainContainer{
    height: 40vh;
}

#title {
    width: 100%;
    letter-spacing: .50em;
    margin-top: 7%;
    margin-bottom: 7%;
    color: black;
    text-align: center;
    padding-left: 3.5%;
    text-transform: uppercase;
}

#phrase, #resultText {
    height: 50px;
    background-color: #FFF;
    font-size: 26px;
    text-align: left;
    overflow: hidden;
}

#submitButton, #clearButton {
    background-color: black;
    color: #FFF;
    border: .5px solid black;
    width: 100%;
    font-family: Century;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-bottom: 2%;
}

#submitButton:hover, #clearButton:hover {
    background-color: #FFF;
    color: black;
}

#errorAlert {
    color: red;
}

#errorAlertButton {
    color: red;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 2%;
}

/*===============Contact===========================================*/

#contact {
    background-color: black;
    color: white;
    padding: 3% 7%;
}

#contactButton {
    border: 1px solid white;
    text-transform: uppercase;
    width: 15%;
}

#contact label, #contact h2, #contact label, #contact p {
    font-size: 28px;
}

#contact form {
    position: relative;
    left: 17%;
}